/**
 * ----------------------------------------------------------------------------
 * Copyright 2014  Eugen Mihailescu (email : eugenmihailescux at gmail dot com)
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License, version 2, as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * ----------------------------------------------------------------------------
 *
 * Plugin Name: YAYUI Compressor (Yet Another YUI Compressor)
 * Plugin URI: http://yayui.mynixworld.info/
 * Description: CSS for YAYUI Web Interface
 * Author URI: http://yayui.mynixworld.info/
 *
 * Git revision information:
 *
 * @version:	0.1-2 $
 * @commit:		17c98134e99dc43433265cf28b9440b01f04828d $
 * @author:		Eugen Mihailescu <eugenmihailescux@gmail.com> $
 * @date:		Mon Oct 13 17:51:28 2014 +0200 $
 * @file:		yayui.css $
 *
 * @id:	yayui.css | Mon Oct 13 17:51:28 2014 +0200 | Eugen Mihailescu  $
 *
 */
@CHARSET "UTF-8";

body {
	font-family: monospace;
	background: none repeat scroll 0 0 rgba(42, 194, 252, 0.2);
	color: #000;
	font-size: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fbold, .header {
	font-weight: bold;
}

.fcenter, .header {
	text-align: center;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.main {
	outline: 10px solid rgba(255, 44, 0, 0.5);
	color: #000;
	width: 770px;
	margin: 40px auto 20px;
	background: none repeat scroll 0 0 #FFF;
	overflow: hidden;
}

.footer {
	color: #000;
	clear: both;
	width: 770px;
	font-size: 1.1em;
	margin: 0px auto 20px;
	text-align: center;
	padding: 10px 0px;
}

.pattern {
	background-color: rgba(0, 0, 0, 0.2);
}

.keyword {
	color: #00f;
	font-weight: bold;
}

.string {
	color: #f0f;
}
/*********** BUTTONS ***************/
.button, .button-primary, .button:HOVER, .button-primary:HOVER {
	font-family: monospace;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*IE only*/
	border: solid 3px\9;
}

.button-primary, .button {
	position: relative;
	color: #fff;
	background-color: #00adee;
	cursor: pointer;
	padding: 4px;
	border-style: solid;
	border-radius: 10px;
	border-color: #fff;
	box-shadow: 2px 2px 3px #c0c0c0;
}

.button-primary:ACTIVE, .button:ACTIVE {
	top: 2px;
	left: 2px;;
}

.button, .button:HOVER {
	/* non IE*/
	color: #000;
	background-color: #ffb600;
}

.button, .button-primary {
	/*IE only*/
	border-top-color: #fff\9;
	border-left-color: #fff\9;
	border-right-color: #c0c0c0\9;
	border-bottom-color: #c0c0c0\9;
}

.button-primary:HOVER, .button:HOVER {
	font-weight: bold;
	/*IE only*/
	font-weight: normal\9;
	border-top-color: #c0c0c0\9;
	border-left-color: #c0c0c0\9;
	border-right-color: #fff\9;
	border-bottom-color: #fff\9;
}
/*********** BUTTONS ***************/
.loading:before {
	content: url(../img/loadbar.gif);
	display: block;
	z-index: 99;
	position: absolute;
	bottom: 50%;
	right: 50%;
	margin-right: -64px;
	margin-bottom: -12px;
}

.feedback-btn {
	padding: 3px;
	position: relative;
	width: auto;
	whitespace-wrap: nowrap;
	float: right;
	left: 5px;
	top: -7px;
	color: white;
	background-color: #00ADEE;
	border: solid 3px;
	border-color: #00ADEE;
	box-shadow: -2px 2px 5px #000;
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: left top;
	-moz-transform: rotate(270deg);
	-moz-transform-origin: left top;
	-ms-transform: rotate(270deg);
	-ms-transform-origin: left top;
	-o-transform: rotate(270deg);
	-o-transform-origin: left top;
	transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	transform-origin: right top;
}

/*.feedback-box {
	position: relative;
	overflow: hidden;
}*/

/*.feedback-btn:HOVER+ .hidden {
	left: 0px;
}
*/
.feedback-box {
	position: fixed;
	width: 400px;
	top: 50%; 
	transform : translateY( -50%);
	left: -414px;
	height: 310px;
	cursor: pointer;
	padding: 4px;
	border-style: solid;
	border-color: #00adee;
	box-shadow: -2px 2px 5px #000;
		background: white;
	opacity: 1;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}